{% extends 'base.html' %}
{% block content %}
<table width="250px">
  <tr>
    <td>
      <a style="color:white;" href="{% url 'hardware:hwlist' %}">Hardware list</a>
    </td>
    <td>
      <a style="color:white;" href="{% url 'hardware:newhw' %}">New hardware</a>
    </td>
  </tr>
</table>
<h1 class="menupointtitle">Hardware list</h1>
<div class="subpointlist">
{% if messages %}
<ul class="messages">
{% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
  <form action="{% url 'hardware:hwlist' %}" method="post">
  <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
  <table width="500px">
    <tr>
      <td>Id</td>
      <td>Title</td>
      <td>Serial number</td>
      <td></td>
    </tr>    
{% for hw in hws %}
    <tr>
      <td>{{hw.getHwid}}</td>
      <td>{{hw.getName}}</td>
      <td>{{hw.publicPassword}}</td>
      <td><a href="{% url 'hardware:removehw' hw.id %}" style="color:white">Remove</a></td>
    </tr>
{% endfor %}   
  </table>
  </form>
  <br/>
</div>
{% endblock %}
