{% extends 'base.html' %}
{% block title %}Remove {{hw.getName}}{% endblock %}
{% block h1 %}Remove {{hw.getName}}{% endblock %}
{% block content %}
<table width="250px">
  <tr>
    <td>
      <a href="{% url 'hardware:hwlist' %}">Hardware list</a>
    </td>
    <td>
      <a href="{% url 'hardware:newhw' %}">New hardware</a>
    </td>
  </tr>
</table>
<div class="subpointlist">
  <form action="{% url 'hardware:removehw' hw.id %}" method="post">
  <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    <table>
      <tr>
        <td><span>Are you sure you want to remove {{hw.getName}}? The operation can't be undone.</span></td> 
      </tr>
      <tr>
        <td align="right"><br><input type="submit" name="submit" value="Remove"></td> 
      </tr>
    </table>
  </form>
  <br/>
</div>
{% endblock %}
