{% extends 'base.html' %}
{% block content %}
<table width="250px">
  <tr>
    <td>
      <a style="color:white;" href="{% url 'hardware:hwlist' %}">Hardware list</a>
    </td>
    <td>
      <a style="color:white;" href="{% url 'hardware:newhw' %}">New hardware</a>
    </td>
  </tr>
</table>
<h1 class="menupointtitle">Remove {{hw.getName}}</h1>
<div class="subpointlist">
{% if messages %}
<ul class="messages">
{% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
  <form action="{% url 'hardware:removehw' hw.id %}" method="post">
  <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    <table>
      <tr>
        <td><span>Are you sure you want to remove {{hw.getName}}? The operation can't be undone.</span></td> 
      </tr>
      <tr>
        <td align="right"><br><input type="submit" name="submit" value="Remove"></td> 
      </tr>
    </table>
  </form>
  <br/>
</div>
{% endblock %}
