{% extends 'base_reg.html' %}
{% block refresh %}
    {% if user.is_authenticated%}
        <meta http-equiv="REFRESH" content="0;url={% url 'mycolemass' %}">
    {% endif %}
{% endblock %}
{% block main %}
<div class="login">
   <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <table class="login">
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="hidden" name="next" value="/">
                        <input type="submit" value="Login" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-size: 8pt;">
                        <a style="color: #F00;" href="{% url 'users:pswd_link_gen' %}">Forgot Username or Password?</a>
                    </td>
                </tr>
            </table>
    </form>
    {% if form.errors %}
        <p style="color: #F00; text-align:center">Your username and password didn't match.<br>Please try again.</p>
    {% endif %}
    {% for message in messages %}
        <p {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endblock %}
