{% extends 'registration/base.html' %}
{% block title %}Reset password{% endblock %}

{% block content %}
<div class="row main">
  <form method="post" class="user-form">
    <h2>Reset password</h2>
      {% csrf_token %}
      <label for="id_email" class="sr-only">Email</label>
      <input type="email" id="id_email" maxlength="254" name="email" class="form-control input-single input-lg" placeholder="Email" required autofocus>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
</div>
{% endblock %}