{% extends 'registration/base.html' %}
{% block title %}Reset password{% endblock %}

{% block content %}
  {% if validlink %}
    <form method="post" class="user-form">
        {% csrf_token %}
        <label for="id_new_password1" class="sr-only">New password</label>
        <input type="password" id="id_new_password1" name="new_password1" class="form-control input-top input-lg" placeholder="New password" required autofocus>
        <label for="id_new_password2" class="sr-only">Confirm new password</label>
        <input type="password" id="id_new_password2" name="new_password2" class="form-control input-bottom input-lg" placeholder="Confirm new password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
  {% else %}
    <div class="alert alert-danger" role="alert">This reset link is no longer valid!</div>
  {% endif %}
{% endblock %}