{% extends 'base.html' %}
{% load humanize %}
{% block title %}Usage log for{% endblock %}
{% block h1 %} Usage log for{% endblock %}
{% block content %}
<table width="150px">
  <tr>
    <td>
      <a href="{% url 'dishes:dishlist' %}">Dish list</a>
    </td>
    <td>
      <a href="{% url 'dishes:newdish' %}">New dish</a>
    </td>
  </tr>
</table>
  <div class="subpointlist">
    <table>
      <tr>
        <td colspan="2" align="center" width="200px">Taken out</td>
        <td colspan="2" align="center" width="200px">Put back</td>
      </tr>
      <tr>
        <td>User</td>
        <td>Time</td>
        <td>User</td>
        <td>Time</td>
        <td></td>
      </tr>
      {% for entry, btns in entries %}
      <tr>
        <td>{{ entry.getTakeUser }}</td>
        <td>{{ entry.getTakeTime|date:'H:i, d M' }}</td>
        {% if entry.getPutUser %}
        <td>{{ entry.getPutUser }}</td>
        <td>{{ entry.getPutTime|date:'H:i, d M' }}</td>
        {% else %}
        <td></td>
        <td></td>
        {% endif %}
        {% if request.user != entry.getTakeUser or request.user != entry.getPutUser and entry.getPutUser != None %}
        {% if btns%}
        <td>
          <form action="{% url 'dishes:newdishchore' %}" method="post" >
          {% csrf_token %}
            <input type="hidden" name="entry_id" value="{{ entry.id }}">
            <input type="submit" value="Report">
          </form>
        </td>
        {% endif %}
        {% endif %}
      </tr>
      {% endfor %}
    </table>
 </div>
{% endblock %}
