{% extends 'base.html' %}
{% block title %} Edit dish:&nbsp; {{dish.getTitle}}{% endblock %}
{% block h1 %} Edit dish:&nbsp; {{dish.getTitle}}{% endblock %}
{% block content %}
<table width="150px">
  <tr>
    <td>
      <a href="{% url 'dishes:dishlist' %}">Dish list</a>
    </td>
    <td>
      <a href="{% url 'dishes:newdish' %}">New dish</a>
    </td>
  </tr>
</table>
<div class="subpointlist">
  <form action="{% url 'dishes:editdish'%}" method="post">
    <input type="hidden" name="dish_id" value="{{ dish.id }}">
    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    <table>
      <tr>
        <td>Tag:</td>
        <td>{{dish.getTag}}</td>
      </tr>
      <tr>
        <td>Title:</td>
        <td><input type="text" name="txt_Title" id="txt_Title" value="{{dish.getTitle}}"/></td>
      </tr>
      <tr>
        <td align="right"><br><input type="submit" name='btn_rmv' value="Remove"></td>
        <td align="right"><br><input type="submit" name='btn_save' value="Save"></td>
      </tr>
    </table>
  </form>
  <br/>
</div>
{% endblock %}
