{% extends 'base.html' %}
{% load humanize %}
{% block title %} Dish list {% endblock %}
{% block h1 %} Dish list {% endblock %}
{% block content %}
<table width="150px">
  <tr>
    <td>
      <a href="{% url 'dishes:dishlist' %}">Dish list</a>
    </td>
    <td>
      <a href="{% url 'dishes:newdish' %}">New dish</a>
    </td>
  </tr>
</table>
  <div class="subpointlist">
{% if dishes %}
  <table cellpadding="10px">
    <tr>
      <td>Title</td>
      <td>Take time</td>
      <td></td>
      <td></td>
    </tr>
    {% for dish in dishes %}
    <tr>
      <td>{{ dish.getTitle }}</td>       
      <td>{{ dish.getLastUpdateTime|naturaltime }}</td>
      <td><a style="text-align:center" href="{% url 'dishes:editdish' dish.id %}">Edit</a></td>
      <td><a style="text-align:center" href="{% url 'dishes:dishlog' dish.id %}">Log</a></td>
    </tr>
    {% endfor %}
  </table>
{% else %}
<span>There are no dishes assigned to you.</span>
{% endif %}
</div>
{% endblock %}
