{% extends 'base.html' %}
{% block title %} Appliances {% endblock %}
{% block h1 %} Appliances {% endblock %}
{% block content %}
<div class="row main">
  {% for appliance in appliances %}
    <div class="row div-hover">
      <div class="col-sm-4">
        <strong>{{ appliance.name }}</strong>
      </div>
      <div class="col-sm-1 col-xs-6">
        {% if appliance.last_user %}
          {% if appliance.is_in_use %}
            Currently used by {% if appliance.current_user == request.user %}you{% else %}{{ appliance.current_user }}{% endif %}.
          {% else %}
            Last used by {% if appliance.last_user == request.user %}you{% else %}{{ appliance.last_user }}{% endif %}.
          {% endif %}
        {% else %}
          Never used.
        {% endif %}
      </div>
      <div class="col-sm-1 col-xs-3">
        {% if not appliance.is_in_use %}
          <form action="{% url 'appliances:report' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="pk" value="{{ appliance.pk }}">
            <input type="submit" value="Report" class="btn btn-danger btn-xs" {% if appliance.last_user == request.user %}disabled{% endif %}>
          </form>
        {% endif %}
      </div>
    </div>
  {% empty %}
    <div class="row">
      <div class="col-md-12"><em>No appliance is registered in the system. <a href="{% url 'hardware:hwlist' %}">Add an appliance.</a></em></div>
    </div>
  {% endfor %}
</div>
{% endblock %}
