{% extends 'base.html' %}
{% block title %} Chores {% endblock %}
{% block h1 %} Chores {% endblock %}
{% block content %}
<div class="row main">
  {% for chore in chores %}
    <div class="row div-hover">
      <div class="col-md-4 col-xs-12"><strong>{{ chore.name }}</strong></div>
      <div class="col-md-3 col-sm-6 col-xs-12">assigned {{ chore.assigned_time|timesince }} ago</div>
      <div class="col-md-3 col-sm-4 col-xs-6">to {% if chore.assignee == request.user %}you{% else %}{{ chore.assignee }}{% endif %}</div>
      <div class="col-md-1 col-sm-1 col-xs-3 text-right">
        <form action="{% url 'chores:done' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="pk" value="{{ chore.pk }}">
          <button type="submit" class="btn btn-success btn-xs" {% if "Automated message" in chore.name %}disabled{% endif %}>{% if chore.assignee == request.user %}Done{% else %}On me{% endif %}</input>
        </form>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-3 text-right">
        <form action="{% url 'chores:nudge' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="pk" value="{{ chore.pk }}">
          <button type="submit" class="btn btn-primary btn-xs"  {% chore.assignee == request.user %}disabled{% endif %}>Nudge</input>
        </form>
      </div>
    </div>
  {% empty %}
    <div class="row">
      <div class="col-md-12"><em>There are no active chores at the moment.</em></div>
    </div>
  {% endfor %}
</div>
{% endblock %}