body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.div-hover { background: #fff; padding-top: 5px; padding-bottom: 5px; }
.div-hover:hover { background: #f8f8f8; }

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:hover {
    color: #000080;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    color: #000080;
}

/* .navbar-logout {
  padding: 0 15px;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-logout,
  .navbar > .container-fluid .navbar-logout {
    margin-right: -15px;
  }
}
 */
.navbar-brand img {
  position: relative;
  bottom: 10px;
}

/* pages without navbar */
.body-user {
  background: #F8F8F8;
}
.container-user {
  max-width: 315px;
  margin: 0 auto;
}

.row-logo {
  padding-bottom: 15px;
}

.user-form {
  margin-bottom: 15px;
}

.user-form > h2 {
  font-size: 22px;
}

.user-form .input-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.user-form .input-middle {
  margin-bottom: -1px;
  border-radius: 0;
}

.user-form .input-bottom {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.user-form .input-single {
  margin-bottom: 15px;
}

.user-form .form-control {
  font-size: 16px;
  position: relative;
}

.user-form .form-control:focus {
  z-index: 2;
}